!!!
%html
  %head
    %title BaseProject: Main
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
  %body.launch-page
    .container
      .row
        .col-sm-4
        .col-sm-4.box
          .logo
          %h1 Simplify your on call process.
          %p
            Using email, phone and SMS, we are making it easy for you to contact who you to when you need to.

          %p.call-to-action-pre-text
            Enter your email address to get a beta invite!
          = form_tag do
            = text_field_tag :email, nil, :placeholder => 'john@acme.com', :class => 'form-control', :style => 'width: 70%; display:inline;'
            = submit_tag "GO", :class => 'btn btn-success'
        .col-sm-4
