!!!
%html
  %head
    %title BaseProject: Main
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "OnCall.io makes it easier to manage your on-call team", property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "http://www.oncall.io", property: "og:url"}/
    %meta{content: "your custom image path", property: "og:image"}/
    %meta{content: "At oncall.io we are making it easier to manage your on-call team with email, SMS and voice messages. Sign up for a beta invite today at www.oncall.io", property: "og:description"}/
    = csrf_meta_tags
  %body.launch-page
    .container
      .row
        .col-sm-4
        .col-sm-4.box
          = image_tag(asset_url('logo.png'), :class => 'img-responsive', :style => 'width: 100%')
          %h1 Simplify your on call process.
          = render_shareable

          - if params[:signup] == 'true'
            %p.call-to-action-pre-text
              Thank you for signing up! Help us get the word out about oncall:
            %div{style: ''}
          - else
            %p
              Using email, phone and SMS, we are making it easy for you to contact who you to when you need to.
            %p.call-to-action-pre-text
              Get notified when you can beta test oncall.io:
            = form_tag subscribe_path do
              = text_field_tag :email, nil, :placeholder => "What's your email address?", :class => 'form-control', :style => 'width: 70%; display:inline;', :type => 'email'
              = submit_tag "GO", :class => 'btn btn-success'
        .col-sm-4
